/* Header */
header {
  background: transparent;
  color: var(--white);
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 36px;
  font-weight: normal;
  display: flex;
  align-items: center;
  color: var(--white);
  font-family: "Oi", cursive;
  padding-right: 35%;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 25px;
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
  font-weight: normal;
  transition: color 0.3s;
  font-family: "Oi", cursive;
  font-size: 18px;
}

nav ul li a:hover {
  color: var(--secondary-color);
}

.cart-icon {
  position: relative;
  cursor: pointer;
  color: var(--white);
  font-size: 20px;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-family: "Bebas Neue", sans-serif;
  font-size: 12px;
}
