/* Hero Section */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("./images/Pokemon-Mystery-Dungeon_imgupscaler.ai_General_4K.jpg")
      no-repeat center center/cover;
  color: var(--white);
  text-align: center;
  padding: 120px 20px; /* más grande */
  min-height: 100vh; /* ocupa la pantalla completa */
  position: relative;
  z-index: 999; /* encima de la siguiente sección */
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px; /* Ajusta según la intensidad de la sombra */
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
  pointer-events: none; /* No afecta clics */
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Bebas Neue", sans-serif; /* Fuente especial para el título hero */
  margin-top: 20px;
}

.hero p {
  font-size: 20px;
  max-width: 700px;
  margin: 0 auto 30px;
  font-family: "Inter", sans-serif; /* Fuente principal cambiada a Inter */
}

.btn {
  background-color: #ffcb05;
  color: #333;
  padding: 12px 24px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: normal;
  transition: all 0.3s;
  font-family: "Oi", cursive;
  font-size: 18px;
}
